a {
	color: #000000;
	text-decoration: none;
}
img {
	border: medium none;
}
*{
	font-size: 14px;
	margin: 0;
	padding: 0;
	outline: medium none;
}

.head{
	width:1000px;
	height:200px;
	background-color:#FFFFFF;
	margin:0 auto;
}

.bottom{
	width:100%;
	height:auto;
	background-color:#FF0000;
}

.main{
	width:1000px;
	height:1500px;
	margin:0 auto;
	background-color:#FFFFFF;
	border-top:1px solid #CCCCCC;
}


.main_title1{
	width:200px;
	height:50px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	padding-left:30px;
}

.main_title2{
	width:910px;
	height:50px;
	line-height:50px;
	font-size:18px;
	border:1px solid #CCCCCC;
	font-family:"微软雅黑";
	margin:0 auto;
	padding-left:30px;
}

.main_content{
	width:940px;
	height:1300px;
	font-size:18px;
	border:1px solid #CCCCCC;
	margin:0 auto;
}

.main_content_group{
	width:920px;
	height:600px;
	background-color:#D9D7DA;
	padding-top:30px;
	padding-left:30px;
}

.main_content_img1{
	width:250px;
	height:250px;
	float:left;
	margin:20px 0 0 30px;
}

.main_content_img2{
	width:920px;
	height:450px;
    clear:both;
    margin:20px auto 0 auto;
}