a {
	color: #000000;
	text-decoration: none;
}
img {
	border: medium none;
}
*{
	font-size: 14px;
	margin: 0;
	padding: 0;
	outline: medium none;
}

.head{
	width:1000px;
	height:200px;
	background-color:#FFFFFF;
	margin:0 auto;
}

.bottom{
	width:100%;
	height:auto;
	background-color:#FF0000;
}

.main{
	width:1000px;
	height:2700px;
	margin:0 auto;
	background-color:#FFFFFF;
	border-top:1px solid #CCCCCC;
}


.main_title1{
	width:200px;
	height:50px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	padding-left:30px;
}

.main_title2{
	width:910px;
	height:50px;
	line-height:50px;
	font-size:18px;
	border:1px solid #CCCCCC;
	font-family:"微软雅黑";
	margin:0 auto;
	padding-left:30px;
}

.main_content{
	width:940px;
	height:2500px;
	font-size:18px;
	border:1px solid #CCCCCC;
	margin:0 auto;
}

.main_content_title1{
	width:100%;
	font-size:25px;
	font-family:"微软雅黑";
	text-align:center;
}

.main_content_title2{
	width:100%;
	text-align:center;
}

.main_content_img1{
	width:700px;
	height:700px;
	margin:0 auto;
}

.main_content_text1{
	width:800px;
	height:auto;
	font-family:"微软雅黑";
	text-align:left;
	line-height:30px;
	margin:0 auto;
}

.main_content_text2{
	width:800px;
	height:auto;
	font-family:"微软雅黑";
	text-align:left;
	margin:0 auto;
}

.main_content_img2{
	width:700px;
	height:520px;
	margin:0 auto;
}

.main_content_text3{
	width:800px;
	height:auto;
	font-family:"微软雅黑";
	text-align:left;
	line-height:30px;
	margin:0 auto;
}

.main_content_text4{
	width:800px;
	height:auto;
	font-family:"微软雅黑";
	text-align:left;
	line-height:30px;
	margin:0 auto;
}

.main_content_text5{
	width:800px;
	height:auto;
	font-family:"微软雅黑";
	text-align:left;
	line-height:30px;
	margin:0 auto;
}

.main_content_text6{
	width:800px;
	height:auto;
	font-family:"微软雅黑";
	text-align:left;
	line-height:30px;
	margin:0 auto;
}
