a {
	color: #000000;
	text-decoration: none;
}
img {
	border: medium none;
}
*{
	font-size: 14px;
	margin: 0;
	padding: 0;
	outline: medium none;
}
.head{
	width:1000px;
	height:200px;
	background-color:#FFFFFF;
	margin:0 auto;	
}

.bottom{
	width:100%;
	height:auto;
	background-color:#FF0000;
	overflow:hidden;
}

.main{
	width:1000px;
	height:auto;
	margin:0 auto;
	background-color:#FFFFFF;
	border-top:1px solid #CCCCCC;
	overflow:hidden;
}


.main_title1{
	width:200px;
	height:50px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	padding-left:30px;
	float:left;
}

.main_title3{
	width:700px;
	height:50px;
	line-height:50px;
	text-align:right;
	float:left;
}

.main_title3 > a{
	font-size:16px;
	font-weight:bold;
	color:#3366FF;
}

.main_title2{
	width:910px;
	height:50px;
	line-height:50px;
	font-size:18px;
	font-family:"微软雅黑";
	border:1px solid #CCCCCC;
	margin:0 auto;
	padding-left:30px;
	clear:both;
}

.main_content{
	width:940px;
	height:auto;
	font-size:18px;
	border:1px solid #CCCCCC;
	margin:0 auto;
	padding-bottom:30px;
	overflow:hidden;
}

.main_content_title{
	width:800px;
	height:auto;
	line-height:30px;
	font-size:20px;
	font-family:"微软雅黑";
	text-align:center;
	border-bottom:1px solid #CCCCCC;
	margin:0 auto;
	padding-bottom:20px;
	overflow:hidden;
}

.main_content_time{
	width:800px;
	height:50px;
	line-height:50px;
	font-size:12px;
	text-align:center;
	margin:0 auto;
}

.main_content_body{
	width:800px;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}

.blank1{
	width:1000px;
	height:50px;
	margin:0 auto;
	background-color:#FFFFFF;
}
