a {
	color: #000000;
	text-decoration: none;
}
img {
	border: medium none;
}
*{
	font-size: 14px;
	margin: 0;
	padding: 0;
	outline: medium none;
}

.head{
	width:1000px;
	height:200px;
	background-color:#FFFFFF;
	margin:0 auto;	
}

.bottom{
	width:100%;
	height:auto;
	background-color:#FF0000;
}

.main{
	width:1000px;
	height:1000px;
	margin:0 auto;
	background-color:#FFFFFF;
	border-top:1px solid #CCCCCC;
}


.main_title1{
	width:200px;
	height:50px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	padding-left:30px;
}

.main_title2{
	width:910px;
	height:50px;
	line-height:50px;
	font-size:18px;
	border:1px solid #CCCCCC;
	font-family:"微软雅黑";
	margin:0 auto;
	padding-left:30px;
}

.main_list{
	width:940px;
	height:800px;
	font-size:18px;
	border:1px solid #CCCCCC;
	margin:0 auto;
}

.main_list_content{
	width:860px;
	height:auto;
	font-size:16px;
	margin:0 auto;
	padding-top:30px;
}

.paged{
	width:auto;
	height:50px;
	line-height:50px;
	margin:0 auto;
	text-align:center;
}

.current{
	color:#3366FF;
	cursor:pointer;
	border:1px solid #CCCCCC;
}

.current2{
	color:#FF0000;
	cursor:pointer;
}

.newtitle:hover{
	color:#FF0000;
}

.span1{
	width:500px;
	display:inline-block;
}

.span2{
	width:150px;
	display:inline-block;
	text-align:right;
}

.detail{
	color:#0066FF;
}

.detail:hover{
	color:#FF0000;
}
