a {
	color: #000000;
	text-decoration: none;
}
img {
	border: medium none;
}
*{
	font-size: 14px;
	margin: 0;
	padding: 0;
	outline: medium none;
}

.head{
	width:1000px;
	height:200px;
	background-color:#FFFFFF;
	margin:0 auto;
}

.bottom{
	width:100%;
	height:auto;
	background-color:#FF0000;
}

.main{
	width:1000px;
	height:1600px;
	margin:0 auto;
	background-color:#FFFFFF;
	border-top:1px solid #CCCCCC;
}


.main_title1{
	width:500px;
	height:50px;
	line-height:50px;
	font-size:18px;
	font-weight:bold;
	padding-left:30px;
}

.main_title1 > a{
	font-size:18px;
	font-weight:bold;
}

.main_title2{
	width:910px;
	height:50px;
	line-height:50px;
	font-size:18px;
	border:1px solid #CCCCCC;
	font-family:"微软雅黑";
	margin:0 auto;
	padding-left:30px;
}

.main_title2 > a{
	font-size:18px;
	font-family:"微软雅黑";
}

.main_content{
	width:940px;
	height:1400px;
	font-size:18px;
	border:1px solid #CCCCCC;
	margin:0 auto;
}

.content_son1{
	width:820px;
	height:auto;
	margin:30px auto 0 auto;
	clear:both;
	overflow:hidden;
}

.content_son1_left{
	width:150px;
	height:150px;
	margin-top:30px;
	float:left;
}

.content_son1_right{
	width:610px;
	height:400px;
	padding:20px 30px 20px 30px;
	line-height:40px;
	float:left;
}

.p1{
	font-size:18px;
	font-family:"微软雅黑";
}

.p2{
	font-size:25px;
	font-family:"微软雅黑";
	text-align:center;
}

.span1{
	font-size:18px;
	font-family:"微软雅黑";
	font-weight:bold;
}

.content_son2{
	width:900px;
	height:300px;
	margin:0 auto;
	border-top:2px solid #FF0000;
	border-bottom:2px solid #FF0000;
	clear:both;
	overflow:hidden;
}

.content_son2_img{
	width:200px;
	height:200px;
	margin-top:40px;
	margin-left:10px;
	border:5px solid #CCCCCC;
	float:left;
}

.content_son3{
	width:620px;
	height:500px;
	margin:50px auto 0 auto;
	clear:both;
	overflow:hidden;
}

.content_son3_video{
	width:600px;
	height:400px;
	margin:0 auto;
	border:1px solid #CCCCCC;
}
