.main_right_content{
	width:90%;
	height:auto;
	margin:0 auto;
	padding-top:30px;
	overflow:hidden;
	clear: both;
}

.table1{
	background-color: #C5D7ED;
	color: #0D5C99;
	font-size:12px;
}

.table2{
	width:100%;
	text-align:center;
}

.td1{
	background-color: #FFFFFF;
	line-height:35px;
    padding:0 10px 0 10px;
}

.td2{
	background-color: #E6ECFA;
	line-height:35px;
    padding:0 10px 0 10px;
}

.main_content_image{
	width:200px;
	height:220px;
	margin-left:25px;
	float:left;
}

.content_image{
	width:280px;
	height:210px;
	border:10px solid #FF0000;
}

.p1{
	margin-top:5px;
	font-size:13px;
	font-family:"微软雅黑";
	text-align:center;
}

.p2{
	width:100%;
	text-align:right;
	clear:both;
}

.p3{
	width:500px;
	height:400px;
	text-align:center;
	margin:0 auto;	
}

.del{
	width:100px;
	height:50px;
	font-size:18px;
	font-family:"微软雅黑";
}

.upload{
	width:500px;
	height:500px;
	clear:both;
}
